---
http_interactions:
- request:
    method: get
    uri: http://eol.org/api/collections/1.0.json?id=176
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"fa99beea9f587a037a09ad8de7d4c3f3"'
    body:
      encoding: UTF-8
      string: '{"name":"EOL Group on Flickr","description":"This group allows anyone
        to provide images and videos for the Encyclopedia of Life web site. Contributors
        tag their images for EOL use and select a creative commons license that allows
        reuse at least for non-commercial purpose. The EOL harvester checks the group
        every couple of days, imports new photos and updates records if any of the
        data (tags, descriptions, licenses) have changed. Last indexed May 20, 2015","logo_url":"http://media.eol.org/content/2011/08/30/11/95200_130_130.jpg","created":"2013-03-01T01:18:12Z","modified":"2016-03-29T14:20:01Z","total_items":200049,"item_types":[{"item_type":"TaxonConcept","item_count":49},{"item_type":"Text","item_count":0},{"item_type":"Video","item_count":1730},{"item_type":"Image","item_count":198270},{"item_type":"Sound","item_count":0},{"item_type":"Community","item_count":0},{"item_type":"User","item_count":0},{"item_type":"Collection","item_count":0}],"collection_items":[{"name":"Salix
        alba L.","object_type":"TaxonConcept","object_id":1264966,"title":"Salix alba","created":"2013-11-11T22:32:05Z","updated":"2016-03-13T06:19:47Z","annotation":"","sort_field":null,"references":[],"richness_score":500.0},{"name":"Ovis
        aries orientalis Gmelin, 1774","object_type":"TaxonConcept","object_id":4447671,"title":"Ovis
        orientalis orientalis","created":"2010-05-05T01:17:59Z","updated":"2016-03-13T06:19:31Z","annotation":"","sort_field":null,"references":[],"richness_score":0.0},{"name":"Dasyornis
        broadbenti (McCoy, 1867)","object_type":"TaxonConcept","object_id":1051917,"title":"Dasyornis
        broadbenti caryochrus","created":"2015-03-13T22:49:09Z","updated":"2016-03-12T2[...]
