---
http_interactions:
- request:
    method: get
    uri: http://eol.org/api/collections/1.0.json?cache_ttl=30&id=176&sort_by=oldest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"f9b370016d13c585657e7eb12c771832"'
    body:
      encoding: UTF-8
      string: '{"name":"EOL Group on Flickr","description":"This group allows anyone
        to provide images and videos for the Encyclopedia of Life web site. Contributors
        tag their images for EOL use and select a creative commons license that allows
        reuse at least for non-commercial purpose. The EOL harvester checks the group
        every couple of days, imports new photos and updates records if any of the
        data (tags, descriptions, licenses) have changed. Last indexed May 20, 2015","logo_url":"http://media.eol.org/content/2011/08/30/11/95200_130_130.jpg","created":"2013-03-01T01:18:12Z","modified":"2016-03-29T14:20:01Z","total_items":200049,"item_types":[{"item_type":"TaxonConcept","item_count":49},{"item_type":"Text","item_count":0},{"item_type":"Video","item_count":1730},{"item_type":"Image","item_count":198270},{"item_type":"Sound","item_count":0},{"item_type":"Community","item_count":0},{"item_type":"User","item_count":0},{"item_type":"Collection","item_count":0}],"collection_items":[{"name":"Common
        Crow","object_type":"Image","object_id":29865944,"title":"Image","created":"2014-07-08T22:30:31Z","updated":"2014-07-08T22:30:31Z","annotation":"","sort_field":null,"references":[],"data_rating":2.5,"object_guid":"5d219143a4da38db17458bcf80c11118","source":"http://media.eol.org/content/2014/07/08/22/40373_orig.jpg"},{"name":"IMG_0788","object_type":"Image","object_id":29865947,"title":"Image","created":"2014-07-08T22:30:40Z","updated":"2014-07-08T22:30:40Z","annotation":"","sort_field":null,"references":[],"data_rating":2.5,"object_guid":"b9155ab5fb9ae08f86fa552b7b5cbdb3","source":"http://media.eol.org/content/2014/07/08/22/56285_orig.jpg"},{"name":"Spider
        wasp--lateral/dorsal","object_type":"Image","object_id":29865948,"title":"Image","cr[...]
