---
http_interactions:
- request:
    method: get
    uri: http://eol.org/api/hierarchy_entries/1.0.json?cache_ttl=30&common_names=true&id=30408282&synonyms=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"cee5b8cb8391c3349468a6fbc43e2e52"'
    body:
      encoding: UTF-8
      string: '{"sourceIdentifier":"taxon:142651","taxonID":30408282,"parentNameUsageID":27889944,"taxonConceptID":46698412,"scientificName":"Actaea
        alba (L.) Mill.","source":"http://eol.org/pages/46698412/hierarchy_entries/30408282/overview","nameAccordingTo":["Initial
        BioLib.cz Import"],"vernacularNames":[],"synonyms":[],"ancestors":[{"taxonID":27889936,"parentNameUsageID":0,"taxonConceptID":4377,"scientificName":"Ranunculaceae","taxonRank":"family","source":"http://eol.org/pages/4377/hierarchy_entries/27889936/overview"},{"taxonID":27889944,"parentNameUsageID":27889936,"taxonConceptID":62014,"scientificName":"Actaea","taxonRank":"genus","source":"http://eol.org/pages/62014/hierarchy_entries/27889944/overview"}],"children":[]}'
  recorded_at: Tue, 20 Jun 2017 03:15:34 GMT
recorded_with: VCR 3.0.3
