---
http_interactions:
- request:
    method: get
    uri: http://eol.org/api/hierarchies/1.0.json?id=1188
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"c2d0ac56856d33e3054e71ffb404f907"'
    body:
      encoding: UTF-8
      string: '{"title":"Species 2000 & ITIS Catalogue of Life: April 2013","contributor":"Catalogue
        of Life","dateSubmitted":"2013-03-30 19:53:45","source":"","roots":[{"sourceIdentifier":"13021388","taxonID":51521761,"parentNameUsageID":0,"taxonConceptID":1,"scientificName":"Animalia","taxonRank":"kingdom"},{"sourceIdentifier":"13021511","taxonID":52744048,"parentNameUsageID":0,"taxonConceptID":5559,"scientificName":"Fungi","taxonRank":"kingdom"},{"sourceIdentifier":"13021533","taxonID":52800975,"parentNameUsageID":0,"taxonConceptID":281,"scientificName":"Plantae","taxonRank":"kingdom"},{"sourceIdentifier":"13021538","taxonID":53103686,"parentNameUsageID":0,"taxonConceptID":288,"scientificName":"Bacteria","taxonRank":"kingdom"},{"sourceIdentifier":"13021719","taxonID":53112249,"parentNameUsageID":0,"taxonConceptID":3352,"scientificName":"Chromista","taxonRank":"kingdom"},{"sourceIdentifier":"13023715","taxonID":53114002,"parentNameUsageID":0,"taxonConceptID":5006,"scientificName":"Viruses","taxonRank":"kingdom"},{"sourceIdentifier":"13023992","taxonID":53116999,"parentNameUsageID":0,"taxonConceptID":4651,"scientificName":"Protozoa","taxonRank":"kingdom"},{"sourceIdentifier":"13025806","taxonID":53131235,"parentNameUsageID":0,"taxonConceptID":7920,"scientificName":"Archaea","taxonRank":"kingdom"}]}'
  recorded_at: Sun, 11 Jun 2017 05:08:21 GMT
recorded_with: VCR 3.0.3
