---
http_interactions:
- request:
    method: get
    uri: http://eol.org/api/search/1.0/tolumnia.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"48a49ac28ca8bf88c43f71d77c40bc63"'
    body:
      encoding: UTF-8
      string: '{"totalResults":80,"startIndex":1,"itemsPerPage":30,"results":[{"id":1128718,"title":"Tolumnia
        bahamensis (Nash) Braem","link":"http://eol.org/1128718?action=overview&controller=taxa","content":"Tolumnia
        x adamsii Sauleda"},{"id":1128718,"title":"Tolumnia bahamensis (Nash) Braem","link":"http://eol.org/1128718?action=overview&controller=taxa","content":"Tolumnia
        bahamensis (Nash ex Britt. & Millsp.) G. J. Braem; Oncidium sasseri Moir;
        Tolumnia bahamensis; Oncidium bahamense; Oncidium bahamense Nash ex Britton
        & Millsp.; Tolumnia bahamensis (Nash ex Britton & Millsp.) Braem; Tolumnia
        sasseri; Tolumnia bahamensis (Nash) Braem; Tolumnia bahamensis ([...]
- request:
    method: get
    uri: http://eol.org/api/search/1.0/tolumnia.json?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"48a49ac28ca8bf88c43f71d77c40bc63"'
    body:
      encoding: UTF-8
      string: '{"totalResults":80,"startIndex":1,"itemsPerPage":30,"results":[{"id":1128718,"title"[...]
[...]
