---
http_interactions:
- request:
    method: get
    uri: http://eol.org/api/search/1.0.json?cache_ttl=30&exact=true&q=Tolumnia%20bahamensis
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"e3f8fb33a3a35bfa4e7d364599c0b01e"'
    body:
      encoding: UTF-8
      string: '{"totalResults":1,"startIndex":1,"itemsPerPage":30,"results":[{"id":1128718,"title":"Tolumnia
        bahamensis (Nash) Braem","link":"http://eol.org/1128718?action=overview&controller=taxa","content":"Tolumnia
        bahamensis (Nash ex Britt. & Millsp.) G. J. Braem; Oncidium sasseri Moir;
        Tolumnia bahamensis; Oncidium bahamense; Oncidium bahamense Nash ex Britton
        & Millsp.; Tolumnia bahamensis (Nash ex Britton & Millsp.) Braem; Tolumnia
        sasseri; Tolumnia bahamensis (Nash) Braem; Tolumnia bahamensis (Nash ex Britton
        & Millspaugh) Braem; Tolumnia bahamensis (Nash ex Britton & Millsp.) G.J.
        Braem; Tolumnia bahamensis Braem; Tolumnia sasseri Braem"}],"first":"http://eol.org/api/search/Tolumnia%20bahamensis.json?page=1","self":"http://eol.org/api/search/Tolumnia%20bahamensis.json?page=1","last":"http://eol.org/api/search/Tolumnia%20bahamensis.json?page=1"}'
  recorded_at: Tue, 20 Jun 2017 02:21:54 GMT
recorded_with: VCR 3.0.3
