---
http_interactions:
- request:
    method: get
    uri: http://eol.org/api/pages/1.0.json?cache_ttl=30&id=1045608&images_per_page=10&videos_per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"a0d1500fd716fedf5425d4e64c8fcada"'
    body:
      encoding: UTF-8
      string: '{"identifier":1045608,"scientificName":"Apis mellifera Linnaeus 1758","richness_score":400.0,"taxonConcepts":[{"identifier":52191458,"scientificName":"Apis
        mellifera Linnaeus 1758","nameAccordingTo":"Species 2000 & ITIS Catalogue
        of Life: April 2013","canonicalForm":"Apis mellifera","sourceIdentifier":"6845885","taxonRank":"Species"},{"identifier":59534038,"scientificName":"Apis
        (Apis) mellifera Linnaeus 1758","nameAccordingTo":"Paleobiology Database","canonicalForm":"Apis
        mellifera","sourceIdentifier":"235173","taxonRank":"Species"},{"identifier":49121298,"scientificName":"Apis
        (Apis) mellifera Linnaeus 1758","nameAccordingTo":"Paleobiology Database","canonicalForm":"Apis
        mellifera","sourceIdentifier":"urn:paleodb:tn235173","taxonRank":"Species"},{"identifier":49379619,"scientificN[...]
